# Created by https://www.gitignore.io/api/theos-tweak
# Edit at https://www.gitignore.io/?templates=theos-tweak

### THEOS-Tweak ###
._*
*.deb
.debmake
_
obj
.theos
.DS_Store
.vscode
packages

*.xcscheme

# End of https://www.gitignore.io/api/theos-tweak
Notificate.xcodeproj/xcshareddata/xcschemes/Notificate 2.xcscheme
