<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>NotiCell</string>
		</dict>
		<dict>
			<key>alternateColors</key>
			<true/>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.jdiggity.Notificate</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>ENABLED</string>
		</dict>
		<dict/>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>COMPONENTS</string>
		</dict>
		<dict>
			<key>alternateColors</key>
			<true/>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.jdiggity.Noitificate</string>
			<key>key</key>
			<string>NotificateAll</string>
			<key>label</key>
			<string>NOTIFICATEALL</string>
		</dict>
		<dict/>
		<dict/>
		<dict/>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Notificate by TheNightman, P0tat0J0e</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>RESPRING</string>
		</dict>
		<dict>
			<key>action</key>
			<string>resetPrefs:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>confirmation</key>
			<dict>
				<key>cancelTitle</key>
				<string>CANCEL</string>
				<key>okTitle</key>
				<string>OK</string>
				<key>prompt</key>
				<string>ARE_YOU_SURE_YOU_WANT_TO_RESET_PREFS</string>
				<key>title</key>
				<string>OK</string>
			</dict>
			<key>isDestructive</key>
			<true/>
			<key>label</key>
			<string>RESET_PREFS</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>GitHub</string>
			<key>subtitle</key>
			<string>SOURCE_CODE</string>
			<key>url</key>
			<string>https://github.com/TheNightmanCodeth/Notificate</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>DONATE_TO_JDiggity</string>
			<key>subtitle</key>
			<string>SUPPORT_ME</string>
			<key>url</key>
			<string>https://jdiggity.me/donate</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>DONATE_TO_P0tat0J0e</string>
			<key>subtitle</key>
			<string>SUPPORT_ME</string>
			<key>url</key>
			<string>New string</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>TheNightmanCodeth</string>
			<key>user</key>
			<string>joooyooo2</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>P0tat0J0e</string>
			<key>user</key>
			<string>P0tat0Joe</string>
		</dict>
	</array>
	<key>title</key>
	<string>Notificate</string>
</dict>
</plist>
